*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:cursive;
}
html,body{
    height: 100%;
    width:100%;
    display:grid;
    place-items:center;
    background: #7E5FE9;
    background: radial-gradient(at left top, #7E5FE9, #F8AA2A);
}
.w{
  height:400px;
  width:300px;
  position:relative;
  transform-style: preserve-3d;
  perspective: 500px;
  
  
}
.w:hover >.front{
transform: rotateX(-180deg);
}

.c{
    height:100%;
    width:100%;
    position:absolute;
    background-color: aliceblue;
    border-radius: 20px;
    transform:rotateY(0deg);
    transform-style: preserve-3d;
    padding:10px;
    transition:1.5s ;

    
}
.c img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-radius: 20px;
    
   
}
.back img{
    height: 150px;
    width:150px;
    border-radius:50%;
    border:3px solid #7E5FE9;
    
    
}
.back{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    transform:rotateY(-90deg);
   
    
    
}
.w:hover >.back{
    transform: rotateX(0deg);
    }
   
.info{
    text-align:center;
}

.heading{
    font-weight: bold;
    font-size:20px;
    line-height: 40px;
}
ul{
    display:flex;
    
}
a{
    display:block;
    height:40px;
    width:40px;
    place-items: center;
    text-align:center;
    border-radius:50%;
    background: #7E5FE9;
    background: radial-gradient(at left top, #7E5FE9, #F8AA2A);
    border:1px solid transparent;
    line-height:35px;
    margin:0 5px;
    color:white;
}
ul :hover{
    background:none;
    background-color: white;
    border:2px solid   #7E5FE9;
    color:#7E5FE9 ;
    color:radial-gradient(at left top, #7E5FE9, #F8AA2A);
}

